<launch>
    <arg name="robot" value="maggie" />

    <!-- DEVICES - -->
    <!-- LABJACK -->
    <include file="$(find labjack)/launch/labjack.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- SKILLS - -->
    <!-- STATES -->
    <include file="$(find basic_states_skill)/launch/basic_states_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- TOUCH -->
    <include file="$(find touch_skill)/launch/touch_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>
</launch>
