<launch>
    <arg name="robot" value="maggie" />

    <!-- DEVICES - -->
    <include file="$(find maggie_bringup)/launch/maggie_devices.launch" />

    <!-- SKILLS - -->
    <include file="$(find maggie_bringup)/launch/maggie_skills.launch" />

    <!-- MOVEMENT -->
    <include file="$(find maggie_bringup)/launch/maggie_navigation.launch" />
</launch>
