<launch>
    <arg name="robot" value="maggie" />

    <!-- ETTS + ASR -->
    <param name="/$(arg robot)/etts_language" value="en" />
    <param name="/$(arg robot)/etts_emotion" value="happy" />
    <param name="/$(arg robot)/etts_primitive" value="google" />

    <include file="$(find maggie_bringup)/launch/etts_asr.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- BATTERIES -->
    <include file="$(find batteries_skill)/launch/batteries_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- TOUCH -->
    <include file="$(find touch_skill)/launch/touch_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- STATES -->
    <include file="$(find basic_states_skill)/launch/basic_states_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- BLINK -->
    <include file="$(find blink_skill)/launch/blink_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <!-- GOTO PLACE -->
    <include file="$(find goto_place_skill)/launch/goto_place_skill.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>
</launch>
