Source: ros-hydro-maggie-robot
Section: misc
Priority: extra
Maintainer: Raul Perula-Martinez <raul.perula@uc3m.es>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://wiki.ros.org/maggie_robot
Standards-Version: 3.9.2

Package: ros-hydro-maggie-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-maggie-bringup
Description: maggie_robot metapackage
