<launch>
    <arg name="robot" value="maggie" />

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find navigation)/config/map_1.3.C12_2014-12.yaml">
        <param name="frame_id" value="/map" />
    </node>

    <!-- do not use a simulated time but Linux wall time -->
    <param name="/use_sim_time" value="false" />

    <!-- navigation (real) -->
    <include file="$(find navigation)/launch/real/navigation_real.launch">
        <arg name="robot" value="$(arg robot)" />
    </include>

    <group ns="$(arg robot)">
        <!-- teleoperation with joystick -->
        <!-- <include file="$(find navigation)/launch/teleop_joy.launch" /> -->
    </group>
</launch>
